body {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.one {
    background-color: black;
    grid-column: 1/ span 1;
}

.two {
    background-color: blue;
    grid-column: 2/ span 2;
}

.three {
    background-color: green;
    grid-column: 4/ span 3;
}

.six {
    background-color: yellow;
    grid-column: 7/ span 6;
}